table.customTable {
width: 50%;
background-color: gray;
border-collapse: collapse;
border-width: 2px;
border-color: #660080;
border-style: solid;
color: #000000;
}

table.customTable td, table.customTable th {
border-width: 2px;
border-color: #660080;
border-style: solid;
padding: 5px;
}

table.customTable th {
background-color: #EFDAFF;
}

.display-none {
    display:none;
}
#div_update {
    background-color: yellow; 
    padding: 20px; 
}
#div_delete {
    background-color: pink ; 
    padding: 20px; 
}
#div_insert {
    background-color: yellow; 
    padding: 20px; 
}